header.header
  .header__wrap
    .header__logo

    ul.header__menu
      li.header__menu--active
        span 首页
      each i in [1, 2]
        li
          span 详情

//- .header__back
.header__placeholder
